

    div.heading{
    background-color: purple;
    color: white;
    text-align: center;
    }
    div.blue{
    font-family: sans-serif;
    }
    div.topnav{
        background-color: green;
        color: white;
        padding-bottom: 50px;
        font-size: 20px;
    }
    p.left{
        float: left;
        margin-left: 10px;
    }
    p.right{
        float: right;
        margin-right: 10px;
    }
